#Replenishment .control-label:first-child { width:90px;}
#UncommittedOutbound .tab-content .btn-m.btn-grey{ width:100px;}
#ViewProductInfo .control-label:first-child { width:90px; }
#WarehouseOutbound #stepThreeRecipientInfo .control-label:first-child { width:90px; }
#QuickQuote .control-label:first-child, #QuoteTools .control-label:first-child { width:90px; }
#QuickQuote .block-indent {
	
}

#ReturnOfGoods #stepOneForm .control-label { width:96px;}
#ReturnOfGoods  .ExWarehouseNo .control-label { width:110px;}
#ReturnOfGoods  .SellerNo .control-label { width:110px;}

#UncommittedOutbound .BaseInfo .control-label:first-child { width:84px; }
#UncommittedOutbound .RecipientInfo .control-label:first-child { width:90px; }

#WarehouseOrder .StorageInfo .control-label:first-child { width:80px;}
#WarehouseOrder .StorageInfo .control-wrap { width:170px;}
#WarehouseOrder .DomesticDeliveryInfo .control-label:first-child { width:84px;}

#ProductInfo .BaseInfo .form-group .control-wrap { width:150px;}
#ProductInfo .BaseInfo .form-group .control-wrap select { width:135px;}
#ProductInfo .ViewBaseInfo .form-group .control-label:first-child {
    width: 100px;
}
#edit_productInfo .BaseInfo .form-group .control-label:first-child {
    width: 100px;
}

#ProductInfo .BillingInfo .control-label:first-child { width:76px; }
#ProductInfo .BillingInfo .form-group .control-wrap { width:150px;}
#ProductInfo .BillingInfo .ExportDeclaredValueUSD .control-label:first-child { width:140px; }
#ProductInfo .EditOtherInfo .control-label:first-child { width:84px; }

#ProductInfo .ViewBillingInfo .control-label:first-child { width:76px; }
#ProductInfo .ViewBillingInfo .ExportDeclaredValueUSD .control-label:first-child { width:140px; }
#ProductInfo .ViewEditOtherInfo .control-label:first-child { width:100px; }

#WarehouseOrder .DirectInfo .control-label:first-child { width:104px; }
#WarehouseOrder .ViewDirectInfo .control-label:first-child { width:108px; }

#WarehouseOrder .basetrackinginfo .control-label:first-child { width:90px; }
 

#WarehouseOutbound .viewBaseCheckStatus .form-group .control-label:first-child { width:90px; }
#WarehouseOutbound .viewBillingCheckStatus .form-group .control-label:first-child { width:90px; }

#WarehouseOutbound #suboutbound .form-group .control-label:first-child { width:90px; }


#addCategoryName .form-group .control-label { width:80px; }
#addCategoryName .form-group .control-wrap { width:170px; }

#AddPackageNumber .form-group .control-label { width:114px; }
#AddPackageNumber .form-group .control-wrap { width:80px; }

#myaddressDialog {}
#myaddressDialog .AddressEditSelect select {
	width:116px;
}

#PrintItemBarcode .form-group  { margin-right:0px;}
#PrintItemBarcode .form-group .control-label { width:110px;}
#PrintItemBarcode .form-group .control-wrap { width:160px;}
.LogisticsInfo {border-bottom:none !important; margin-bottom:0 !important;}
.LogisticsInfo .block-indent {padding:0;}
.LogisticsInfo .form-group .control-label:first-child {width:70px;}
#ISPDelivery .form-group .control-label:first-child { width:85px;}
#ISPOrder .form-group .control-label { width:100px;}

#ISPOrder #J_stepTwoForm .control-label { width:110px;}

#ISPOrder #search_outbound .control-label { width:55px;}
#Recharge .offlineRecharge .control-label:first-child { width:160px;}

#UserCenter .control-label:first-child { width:160px;}

#addrManage  .form-group .control-label:first-child {
	width:110px;
}
#addrManage  .form-group .control-wrap input[type=text] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}
#DirectInfo .form-group .control-label:first-child,
#ViewDirectInfo .form-group .control-label:first-child{
	width:150px;
}

#UserCenter .form-group .control-label:first-child {
    width:135px;
}

#BalanceaddCreditLimits .form-group .control-label:first-child {
    width:130px;
}
#BalanceaddCreditLimits .form-group .control-wrap {
    width:232px;
}
#WHInbound .form-group .control-label:first-child {
    width:100px;
}
.batchImportDiv .file-input{
    width:285px !important;
}

.register-box{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 20px 35px;
    width: 370px;
    background: #fff;
}

.radioSpanDefault{
	width: 41%; 
	vertical-align:top;
	padding:11px 8px 13px 25px;
	height:100px;
}